.Header-wrapper {
  background-color: #33393d;
  /* overflow: hidden; */
  /* position: fixed;  */
  top: 0;
  width: 100vw;
  /* height: 50px; */
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.Header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #282a2b, #53636d);
  height: 100%;
}

.Header-user {
  width: 200px;
  height: 90%;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: white;
}

.settings {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  margin-right: 20px;
}

.logo {
  width: 35%;
  height: 85%;
}

.Header-gear {
  width: 60px;
  height: 60px;
  /* background-color: #33393D; */
}

.Header-signout {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: white;
}

.Header-signout,
.Header-gear:hover {
  cursor: pointer;
}
