.GTMaster {
  min-height: 100vh;
  background-image: linear-gradient(to top, #2aabe4, #9dc8e4);
}

.GameTracker {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  /* background-image: linear-gradient(to top, #2aabe4, #9dc8e4); */
}
